<header>
	<div class="container">
		<a routerLink="/" class="logo"> Angular8 Testing By beri</a>
		<nav>
			<ul>
				<li><a href="#" routerLink="/">HOME</a></li>
				<li><a href="#" routerLink="/list">LIST</a></li>
				<li><a href="#" routerLink="/ngif">angular directive (NgIf)</a></li>
				<li><a href="#" routerLink="/angularmaterial">Angular Material</a></li>
			</ul>
		</nav>
	</div>
</header>
<div class="container" >
<!-- <button mat-button>esto es un boton con matrial""" de angular</button> -->
  	<router-outlet></router-outlet>
</div>