<H1>Bienvenidos esta es una interfaz contruida con angular 8</H1>
<div class="play-container">
    <p>Estas haciendo click <span (click)="countClick()">AQUI!</span> {{ clickCounter }} veces.</p>
</div>

<div class="play-container">
    <p>
        <input type="text" [(ngModel)]="name">
        <br>
        <strong>Estas escribiendo: </strong>{{name}}
    </p>
</div>
<div class="play-container" [ngClass]="setClasses()">
   <ng-template [ngIf]="clickCounter > 2" [ngIfElse]="none">
        <p>el contador es <strong> MAYOR</strong> que 2.</p>
   </ng-template>

   <ng-template #none>
        <p>el contador es <strong>MENOR</strong> que 2.</p>
   </ng-template>
</div>